{% extends 'admin/ADMIN HOME.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
     <script src="/static/jquery.js"></script>
    <script>
    $(document).ready(function () {

        $("#textfield7").change(function () {
            ty=$(this).val();
{#            alert(ty)#}
            $.ajax({
                url:'/ajax_email_already',
                type:'POST',
                data:{type:ty},
                dataType:'json',
                success:function (res) {
{#                  alert(res.status);#}
                  if(res.status=="ok")
                  {

                      document.getElementById("e").innerText="";


                  }
                  else
                  {
                      document.getElementById("textfield7").value="";
                      document.getElementById("e").innerText="Email aleady exists";
{#                      alert("already existing!")#}
                  }

                },
                error:function (res) {

                }

            });

        });

    });
    </script>
</head>

<body>
<h2 align="center" STYLE="color: white" style="font: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif">External Guide Add</h2>
<form id="form1" name="form1" method="post" action="/admin_add_external_guide_post">
    <BR>
    {% csrf_token %}
  <table class="table table-light">
    <tr>
     
      <th scope="row" colspan="2">NAME</th>
      <td width="168" >
      <input type="text" name="textfield9" id="textfield9" class="form-control" required /></td>
    </tr>
    <tr>
      <th  scope="row" colspan="2">DESIGNATION</th>
      <td>
      <input type="text" name="textfield2" id="textfield2" class="form-control" required/></td>
    </tr>
    <tr>
      
      <th  scope="row" colspan="2">COMPANY NAME</th>
      <td>
      <input type="text" name="textfield3" id="textfield3" class="form-control" required/></td>
    </tr>
    <tr>
      <th width="105" rowspan="3" scope="row" align="center">ADDRESS</th>
      <th width="178" scope="row">PLACE</th>
      <td>
      <input type="text" name="textfield4" id="textfield4" class="form-control" required/></td>
    </tr>
    <tr>
      <th scope="row">POST OFFICE</th>
      <td>
      <input type="text" name="textfield5" id="textfield5" class="form-control" required/>
      </td>
    </tr>
    <tr>
      <th scope="row">PIN NO</th>
      <td>
      <input type="tel" name="textfield6" id="textfield6" pattern="[6][0-9]{5}"  class="form-control" required/></td>
    </tr>
    <tr>
     
      <th  scope="row" colspan="2">EMAIL</th>
      <td>
      <input type="email" name="textfield7" id="textfield7" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" required/>
       <div id="e" style="color: red"></div>
      </td>

    </tr>
    <tr>
      
     <th  scope="row" colspan="2">PHN NO</th>
      <td>
      <input type="tel" name="textfield8" id="textfield8" pattern="[0-9]{10}" class="form-control" required/></td>
    </tr>
    <tr>
      <td colspan="3" scope="row" align="center"><input type="submit" name="button" id="button" value="ADD" class="btn btn-outline-danger" /></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}