{% extends 'admin/ADMIN HOME.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h3 ALIGN="center"  STYLE="color: white" style="font: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif">Batch View</h3>

<form id="form1" name="form1" method="post" action="">
<BR>

<table align="right">
    <tr>
        <td ><a href="/admin_batch_add_get#cmp" class="btn btn-danger">CREATE BATCH</a></td>
      </tr>
  </table>
  <table align="center" class="table table-light">
    <tr>
      <th width="94" scope="col">ID</th>
      <th width="96" scope="col">BATCH</th>
      <th width="36" scope="col">&nbsp;</th>
        <th width="36" scope="col">&nbsp;</th>
{#        <th width="36" scope="col">&nbsp;</th>#}


    </tr>
       {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.batch }}&nbsp;</td>
      <td><a href="/admin_batch_delete/{{ i.id }}" class="btn btn-outline-danger" onclick="return confirm('Are You sure?')">DELETE</a></td>
{#      <td><a href="/batch_add_student_get/{{ i.id }}#cmp" class="btn btn-outline-danger">ADD STUDENT</a></td>#}
    <td><a href="/batch_view_student/{{ i.id }}#cmp" class="btn btn-outline-danger">VIEW STUDENT</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}


