{% extends 'admin/ADMIN HOME.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>


<form id="form1" name="form1" method="post" action="">
<BR>
<table align="right">
    <tr>
        <td ><a href="/admin_add_project_management_get#cmp" class="btn btn-danger">ADD SCHEDULE</a></td>
      </tr>
  </table>
  <table class="table table-light">
    <tr>
      <th width="21" scope="col">ID</th>
      <th width="79" scope="col">BATCH</th>
      <th width="45" scope="col">SCHEDULE</th>
      <th width="42" scope="col">DATE</th>
      <th width="41" scope="col">TIME</th>
      <th width="22" scope="col">&nbsp;</th>
      <th width="82" scope="col">&nbsp;</th>
    </tr>
       {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}&nbsp;</td>
      <td>{{ i.BATCH.batch }}</td>
      <td>{{ i.note }}</td>
      <td>&nbsp;{{ i.date }}</td>
      <td>{{ i.time }}&nbsp;</td>
      <td><a href="/admin_update_project_management_get/{{ i.id }}#cmp"class="btn btn-outline-danger" >EDIT</a></td>
      <td><a href="/admin_delete_project_management_post/{{ i.id }}" class="btn btn-outline-danger" onclick="return confirm('Are You sure?')">DELETE</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}