{% extends 'admin/ADMIN HOME.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h3 align="center" STYLE="color: white" style="font: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif">Student Management Edit</h3>

<form id="form1" name="form1" method="post" action="">
    <BR>
  <table class="table table-light">
    <tr>
      <th scope="row">NAME </th>
      <td><label for="textfield"></label>
        <input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <th scope="row"><p>DATE OF BIRTH</p></th>
      <td><label for="textfield2"></label>
        <input type="text" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <th scope="row">GENDER</th>
      <td><p>
        <label>
          <input type="radio" name="RadioGroup1" value="male" id="RadioGroup1_0" />
          MALE</label>
        <br />
        <label>
          <input type="radio" name="RadioGroup1" value="female" id="RadioGroup1_1" />
          FEMALE</label>
        <br />
      </p></td>
    </tr>
    <tr>
      <th scope="row">BATCH_ID</th>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th scope="row">COURSE</th>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th scope="row">EMAIL</th>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th scope="row">PHONE NO</th>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="EDIT" /></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}