{% extends 'admin/ADMIN HOME.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h3  align="center" STYLE="color: white" style="font: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif">Student Management View</h3>
<form id="form1" name="form1" method="post" action="">
<BR>
  <table class="table table-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NAME</th>

        <th scope="col">REGISTER NUMBER</th>

        <th scope="col">TYPE</th>
      <th scope="col">EMAIL</th>
      <th scope="col">PHONE_NO</th>
    </tr>
      {% for i in data %}
    <tr>
      <td height="81">{{ forloop.counter }}</td>
      <td>{{i.LEADER_STUD_ID.std_name}}</td>
      <td>{{ i.LEADER_STUD_ID.std_regno }}&nbsp;</td>
        <td>{{ i.type }}</td>
      <td>{{ i.LEADER_STUD_ID.std_email }}&nbsp;</td>
      <td>&nbsp;{{ i.LEADER_STUD_ID.std_phone }}</td>

    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}