{% extends 'admin/ADMIN HOME.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h3 align="center"  STYLE="color: white" style="font: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif" >Schedule </h3>

<form id="form1" name="form1" method="post" action="/admin_update_project_management_post/{{ id }}">
{% csrf_token %}
<BR>
  <table class="table table-light">
    <tr>
      <th scope="row">BATCH</th>
      <td></label>

        <select name="select" id="select" class="form-control" required>
             {% for i in data %}
            <option value="{{ i.id }}" {% if i.id == data2.BATCH_id %} selected {% endif %}>{{ i.batch }}</option>
{% endfor %}
      </select>
       </td>
    </tr>
    <tr>
      <th scope="row">NOTE</th>
      <td>
      <input type="textfield" name="textfield" value="{{ data2.note }}" id="textarea"  class="form-control" required/></td>
    </tr>

    <tr>
      <td colspan="2" scope="row" align="center"><input type="submit" name="button" id="button" value="UPDATE"  class="btn btn-outline-danger"/></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}