{% extends 'admin/ADMIN HOME.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<H3 align="center"  STYLE="color: white" style="font: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif"> View Scores</H3>
<form id="form1" name="form1" method="post" action="">
<table align="right">
     <tr>
         <td><a href="/admin_add_scores_get/{{ id }}#cmp" class="btn btn-danger" >ADD SCORES</a></td>
      </tr>
  </table>
   <table class="table table-light">
    <tr>
         <th scope="col">#</th>
      <th width="153" scope="col">PUNCTUALITY</th>
      <th width="133" scope="col">RELEVANCE</th>
      <th width="105" scope="col">PRES_ 1</th>
      <th width="105" scope="col">PRES_ 2</th>
      <th width="111" scope="col">PRES_3</th>
      <th width="118" scope="col">DEMO REPORT</th>
      <th width="150" scope="col">INSTITUTION COPY</th>
      <th width="46" scope="col">VIVA</th>
      <th width="70" scope="col">TOTAL</th>
        <th></th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{forloop.counter }}</td>
      <td>{{ i.Punctuality }}</td>
      <td>{{ i.Relevance }}</td>
      <td>&nbsp;{{ i.Presentation_1 }}</td>
      <td>&nbsp;{{ i.Presentation_2 }}</td>
      <td>&nbsp;{{ i.Presentation_3 }}</td>
      <td>&nbsp;{{ i.Demo_report }}</td>
      <td>{{ i.Institution_copy }}&nbsp;</td>
      <td>&nbsp;{{ i.Viva }}</td>
     <td>&nbsp;{{ i.Total }}</td>

    <td><a href="/admin_update_scores_get/{{ i.id }}#cmp"class="btn btn-outline-danger">EDIT</a></td>
    </tr>
       {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}
