{% extends 'INTERNAL GUIDE/INTERNAL ORGANISATION HOME.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h3 align="center" STYLE="color: white" style="font: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif">Group View</H3>
<form id="form1" name="form1" method="post" action="">
<br>
  <table class="table table-light">
    <tr>
      <th scope="col">#</th>

      <th scope="col">BATCH NAME</th>
      <th scope="col">GROUP NO</th>
      <th scope="col">GROUP LEADER</th>
      <th scope="col">TOPIC NAME</th>
            <th scope="col">EXTERNAL GUIDE</th>
            <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <TH></TH>
<th scope="col"></th>
    </tr>
      {% for i in grp %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.GRP_BATCHID.batch }}</td>
      <td>{{ i.grp_number }}</td>
      <td>&nbsp;{{ i.grp_leader.std_name }}</td>
      <td>{{ i.grp_topic_name }}&nbsp;</td>
      <td>{{ i.GRP_EG.eg_name}}&nbsp;</td>
      <td><a href="/chatt_internal/{{ i.GRP_EG_id}}#cmp" class="btn btn-outline-danger">CHAT WITH EXTERNAL</a> </td>
    <td><a href="/internal_group_management_view_student/{{ i.id }}#cmp" class="btn btn-outline-danger">VIEW STUDENT DETAILS</a> </td>
    <td><a href="/internal_progress_view/{{ i.id }}#cmp" class="btn btn-outline-danger">VIEW PROGRESS</a> </td>
    <td><a href="/internal_view_circular/{{ i.id }}#cmp" class="btn btn-outline-danger">VIEW CIRCULAR</a> </td>
    <td><a href="/internal_view_scores/{{ i.id }}#cmp"class="btn btn-outline-danger">VIEW SCORE</a></td>
    </tr>
      {% endfor %}
  </table>
</body>
</html>
{% endblock %}