{% extends 'EXTERNAL GUIDE/EXTERNAL ORGANISATION HOME.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h2 align="center"  STYLE="color: white" style="font: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif"> Add Progress</h2>
<form action="/external_add_progress_post/{{ id }}" method="post" enctype="multipart/form-data" name="form1" id="form1">
    <br>
    {% csrf_token %}
  <table class="table table-light">
      <tr> <th width="120" scope="row">Progress</th>
      <td width="108">
        <select name="select" id="select"   class="form-control" required>
      <option>select</option>
            <option value="Topic Selection">Topic Selection</option>
            <option value="Diagrams">Diagrams</option>
            <option value="Form Design">Form Design</option>
            <option value="10% coding completed!">10% coding completed!</option>
            <option value="20% coding completed!">20% coding completed!</option>
            <option value="30% coding completed!">30% coding completed!</option>
            <option value="40% coding completed!">40% coding completed!</option>
            <option value="50% coding completed!">50% coding completed!</option>
            <option value="60% coding completed!">60% coding completed!</option>
            <option value="70% coding completed!">70% coding completed!</option>
            <option value="80% coding completed!">80% coding completed!</option>
            <option value="90% coding completed!">90% coding completed!</option>
            <option value="100% coding completed!">100% coding completed!</option>
            <option value="Template Design">Template Design</option>
            <option value="Validation">Validation</option>
            <option value="Testing">Testing</option>
            <option value="Completed">Completed</option>
        </select></td></tr>
{#      <tr>#}
{#      <th width="120" scope="row">GROUP/TOPIC NAME</th>#}
{#      <td width="108">#}
{#        <select name="select" id="select"   class="form-control" required>#}
{#        <option>select</option>#}
{#            {% for i in grp %}#}
{#            <option value="{{ i.id }}">{{ i.grp_number}} {{ i.grp_topic_name}}</option>#}
{#            {% endfor %}#}
{#        </select></td>#}
{#    </tr>#}

{#    <tr>#}
{#      <th scope="row">FILE</th>#}
{#      <td>#}
{#      <input type="file" name="fileField" id="fileField" class="form-control" required/></td>#}
{#    </tr>#}





       <tr>
      <th scope="row">REMARK</th>
      <td>
      <input type="text" name="textfield" id="textfield" class="form-control" required/></td>
    </tr>
    <tr>
      <td colspan="2" scope="row" align="center"><input type="submit" name="button" id="button" value="UPLOAD"  class="btn btn-outline-danger" /></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}