{% extends 'EXTERNAL GUIDE/EXTERNAL ORGANISATION HOME.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h3 align="center" STYLE="color: white" style="font: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif">Group View </h3>
<form id="form1" name="form1" method="post" action="">
<br>
<table class="table table-light">
  <tr>
    <th scope="col">#</th>
{#    <th scope="col">NAME</th>#}
    <th scope="col">BATCH ID</th>
    <th scope="col">GROUP NO</th>
    <th scope="col">INTERNAL GUIDE</th>
    <th scope="col">EMAIL</th>
    <th scope="col">TOPIC NAME</th>
    <th scope="col">&nbsp;</th>
    <th scope="col">&nbsp;</th>
    <th scope="col">&nbsp;</th>
    <th scope="col">&nbsp;</th>

  </tr>
    
  </tr>
   {% for i in grp %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>&nbsp;{{ i.batch }}</td>
    <td>{{ i.grp_number }}</td>
    <td>{{ i.ig_name }}&nbsp;</td>
    <td>{{ i.grp_email }}</td>
    <td>{{ i.grp_topic_name }}</td>
    {% if i.status == "y" %}
      <td style="color: red">Attendance marked</td>
      {% else %}
    <td><a href="/external_add_attendance_get/{{ i.id }}#cmp"class="btn btn-outline-danger">ADD ATTENDANCE</a></td>
{% endif %}
    <td><a href="/external_add_progress_get/{{ i.id }}#cmp"class="btn btn-outline-danger">ADD PROGRESS</a></td>
    <td><a href="/chatt/{{ i.GRP_IG_id }}#cmp"class="btn btn-outline-danger">CHAT WITH INTERNAL</a></td>
   <td><a href="/external_view_circular/{{ i.id }}#cmp"class="btn btn-outline-danger">VIEW CIRCULAR</a></td>
  </tr>
    {% endfor %}
</table>
{% endblock %}